@use 'sass:color';

@use 'functions' as *;
@use 'variables' as *;

@mixin close-button() {
  background: var(--bg-color);
  border-radius: 50%;
  color: var(--accent-color);
  cursor: pointer;
  font: bold 1rem $font-family-buttons;
  height: 23px;
  line-height: 1.35;
  position: absolute;
  right: 2px;
  text-align: center;
  top: 2px;
  transition: $effect-duration ease-in-out {
    property: background, color;
  };
  width: 23px;

  &:hover {
    background: var(--accent-color-lightest);
    transition-duration: $effect-on-duration;
  }

  &:active {
    background: var(--accent-color);
    color: var(--bg-color);
    transition-duration: $effect-on-duration;
  }
}

@mixin labels() {
  color: var(--text-color-lighter);
  font-family: $font-family-labels;
  font-weight: 600;
  text-transform: uppercase;
}

@mixin layer-icon($color) {
  background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" ' +
    'height="26" width="26" viewBox="0 0 26 26">' +
      '<style type="text/css">' +
        '.border {' +
          'fill: #{$color};' +
        '}' +
        '.layer1 {' +
          'fill: ' + color.scale($color, $alpha: -15%, $lightness: 52%) + ';' +
        '}' +
        '.layer2 {' +
          'fill: ' + color.scale($color, $alpha: -18%, $lightness: 80%) + ';' +
        '}' +
        '.layer3 {' +
          'fill: ' + color.scale($color, $alpha: -45%, $lightness: 91%) + ';' +
          'stroke: #{$color};' +
          'stroke-width: .2;' +
        '}' +
      '</style>' +
      '<path class="layer1" d="M0,16.7l13-8l13,8l-13,8L0,16.7"/>' +
      '<path class="border" d="M0,16.7L0,18l13,8l13-8l0-1.3l-13,8L0,16.7z"/>' +
      '<path class="layer2" d="M0,12.7l13-8l13,8l-13,8L0,12.7"/>' +
      '<path class="border" d="M0,12.7V14l13,8l13-8v-1.3l-13,8L0,12.7z"/>' +
      '<path class="layer3" d="M0,8.8l13-8l13,8l-13,8L0,8.8"/>' +
      '<path class="border" d="M0,8.8V10l13,8l13-8V8.8l-13,8L0,8.8z"/>' +
    '</svg>'
  );
}
