@use '../opt/variables' as *;

@layer default {
  a.button,
  button {
    border: 1px solid var(--accent-color);
    border-radius: $button-border-radius;
    cursor: pointer;
    text-transform: uppercase;
    transition: $effect-duration ease-in-out {
      property: background, border-color, box-shadow, color, text-shadow;
    };

    &:after {
      display: block;
      font-size: $font-size-smallest;
      font-weight: normal;
    }
  }

  a.button {
    border-color: transparent;
    font: 600 .9375rem $font-family-labels;
    padding: .125rem .375rem;
    text-align: center;
    text-decoration: none;

    &:hover {
      background: var(--accent-color-lightest);
      border-color: var(--accent-color);
      transition-duration: $effect-on-duration;
    }

    &.selected {
      background: var(--accent-color);
      color: var(--bg-color);
      text-shadow: var(--button-text-shadow);
      transition-duration: $effect-on-duration;
    }
  }

  button {
    background: var(--bg-color);
    color: var(--accent-color);
    font: 600 #{$font-size-larger}/1 $font-family-labels;
    margin: 0;
    padding: .375rem .75rem;
    user-select: none;

    &:active,
    &:focus,
    &:hover {
      background: var(--accent-color-lightest);
      transition-duration: $effect-on-duration;
    }

    &:active {
      background: var(--accent-color);
      box-shadow: inset 0 3px 8px rgba(0, 0, 0, .35);
      color: var(--bg-color);
      outline: none;
      text-shadow: var(--button-text-shadow);
    }

    &:focus {
      outline: none;
    }

    &:after {
      margin-top: .25rem;
    }

    &[disabled] {
      background: var(--bg-color);
      border-color: var(--accent-color-disabled);
      box-shadow: none;
      color: var(--accent-color-disabled);
      cursor: not-allowed;
      text-shadow: none;
    }
  }
}
