@layer default {
  .cable {
    min-height: 4rem;

    table {
      border-collapse: separate;
      border-spacing: 0 .375rem;
    }

    td,
    th {
      padding-right: .5rem;

      &:last-child {
        padding: 0;
      }
    }

    th {
      font-weight: 500;
    }

    .spinner {
      margin-top: .625rem;
    }
  }
}
