@layer default {
  #metadata {
    section {
      width: 12rem;
    }

    .citation,
    .refs {
      max-width: 48rem;
    }

    .columns {
      display: flex;
      gap: 5rem;
    }

    .refs {
      list-style: none;
      padding: 0 0 0 2rem;

      li {
        line-height: 1.6;
        margin-bottom: 1rem;
        text-indent: -2rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
